.link {
  color: purple;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: palevioletred;
    transition: 0.3s;
  }
}

.dashboard-module {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.unauthorized-content {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-top: 45vh;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
}

.authorized-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  margin: 1em 0;
  min-height: 150px;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
}

.button {
  padding: 0.5em 1em;
  color: white;
  background-color: purple;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: palevioletred;
    transition: 0.3s;
  }
}

.content-wrapper {
  margin: auto;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  margin: 0 25px 25px 0;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
